@import 'styles/common';

.btn {
  all: unset;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: $white;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

.primary {
  background-color: $primaryBlue;
}

.secondary {
  color: $black;
  background-color: $white;
}

.error {
  background-color: $red;
}

.rounded {
  border-radius: 20px;
}
