@use 'styles/colors' as c;

.btn {
  all: unset;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: c.$white;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

.primary {
  background-color: c.$primaryBlue;
}

.secondary {
  color: c.$black;
  background-color: c.$white;
}

.error {
  background-color: c.$red;
}

.rounded {
  border-radius: 20px;
}
