@import 'styles/common';
@import url('https://fonts.cdnfonts.com/css/proxima-nova-alt-lt-2');
$fontFamily: 'Proxima Nova Alt Lt', sans-serif;
$fbColor: #4068d1;
$ytColor: #ff3030;
$twColor: #56bbf3;
$lnColor: #1a8bf3;

@mixin mobile {
  @media (max-width: 786px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

.footerContainer {
  font-family: $fontFamily;
  background-color: #2f81fb;
  width: 100vw;
  margin-top: 2rem;
  padding: 3.6875rem 9.25rem;
  color: white;
  bottom: 0;
  left: 0;

  @include mobile() {
    padding: 3.7875rem 1rem;
  }

  @include tablet() {
    padding: 3.7875rem 3rem;
  }
}

.upperFooterContainer {
  @extend .spaceBetween;
  @include mobile() {
    flex-direction: column;
  }
  @include tablet() {
    gap: 3rem;
    flex-wrap: wrap;
  }
}

.footerLinks {
  list-style: none;
  @extend .flexCenter;
  gap: 2rem;

  li {
    font-weight: 700;
    font-size: 15px;
  }

  @include mobile() {
    flex-direction: column;
    margin: 2rem 2rem;
  }
}

.link {
  cursor: pointer;
}

.socialIcons {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 5rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.socialLinks {
  @extend .flexCenter;
  gap: 0.5rem;
}

.fbDiv {
  @extend .socialIcons;
  background-color: $fbColor;
}

.ytDiv {
  @extend .socialIcons;
  background-color: $ytColor;
}

.twDiv {
  @extend .socialIcons;
  background-color: $twColor;
}

.lnDiv {
  @extend .socialIcons;
  background-color: $lnColor;
}

.izzyAi {
  margin-top: 4.8125rem;
  cursor: pointer;

  @include mobile() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.lowerFooterContent {
  margin-top: 1.0625rem;
  @extend .spaceBetween;
  gap: 1rem;
  p {
    font-weight: 300px;
    font-size: 15px;
  }

  @include mobile() {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.termsNPrivacy {
  @extend .flexStart;
  gap: 1.5rem;

  Link {
    font-weight: 300px;
    font-size: 15px;
  }

  @include mobile() {
    margin-top: 1rem;
    gap: 2rem;
  }
}
