@import 'styles/common';
@import url('https://fonts.cdnfonts.com/css/proxima-nova-alt-lt-2');
$fontFamily : 'Proxima Nova Alt Lt', sans-serif;
$fbColor: #4068D1;
$ytColor: #FF3030;
$twColor: #56BBF3;
$lnColor: #1A8BF3;
// .spaceBetweenWithoutCenter {
//     display: flex;
//     justify-content: space-between;
// }

.footerContainer{
    font-family: $fontFamily;                        
    background-color: #2f81fb;
    height: 297px;
    width: 100vw;
    padding: 3.6875rem 9.25rem;
    color: white;
    position: fixed;
    bottom: 0;
    left:0;
}

.upperFooterContainer{
    @extend .spaceBetween;
}


.footerLinks{
    list-style: none;
    @extend .flexCenter;
    gap: 2rem;

    li{
        font-weight: 700;
        font-size: 15px;
    }
}

.link{
    cursor: pointer;
}

.socialIcons{
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 5rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
    }

}

.socialLinks{
    @extend .flexCenter;
    gap: 0.5rem
}

.fbDiv{
    @extend .socialIcons;
    background-color: $fbColor;
}

.ytDiv{
    @extend .socialIcons;
    background-color: $ytColor;
}

.twDiv{
    @extend .socialIcons;
    background-color: $twColor;
}

.lnDiv{
    @extend .socialIcons;
    background-color: $lnColor;
}


.izzyAi{
    margin-top: 4.8125rem;
    cursor: pointer;
}

.lowerFooterContent{
    margin-top: 1.0625rem;
    @extend .spaceBetween;
    p{
        font-weight: 300px;
        font-size: 15px;
    }
}

.termsNPrivacy{
    @extend .flexStart;
    gap: 1.5rem;

    Link{
        font-weight: 300px;
        font-size: 15px;
    }
}