@import 'styles/common';

@mixin mobileMq {
  @media (max-width: 849px) {
    @content;
  }
}

.container {
  padding: 2rem 4rem;
  color: $blue;

  @include mobileMq() {
    padding: 1rem;
  }

  .header {
    
    h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }

  .body {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .mobileCompareText {
      display: none;
      margin-top: 1.5rem;
      @include mobileMq() {
        display: block;
      }
    }

    .text {
      margin-right: 2rem;

      .contact {
        font-size: 1.4rem;
        line-height: 1.4;
      }

      span {
        color: $linkHover;
        font-size: 1.8rem;
        font-weight: 700;
      }

      button {
        background-color: $linkHover;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1rem;
        font-weight: 600;
        color: $white;
        word-break: keep-all;
      }

      .compare {
        font-size: 0.9rem;
        padding-right: 4rem;
        margin-top: 1.8rem;
        @include mobileMq() {
          display: none;
        }
      }
    }

    .doctors {
      display: flex;

      @include mobileMq() {
        margin: 2rem 0;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          transform: scale(0.6);
          margin-top: -15px;
        }

        p {
          font-weight: 600;
          font-size: 0.8rem;
        }
      }
    }

    @include mobileMq() {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
